apiVersion: v1
kind: PersistentVolume
metadata:
  name: ir-data-nfs
spec:
  capacity:
    storage: 2Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nolock
  nfs:
    server: 10.251.228.11
    path: /DFIRtx_masterEtcd_dev01_n01_270828

